<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas-12-Ajax-Axios</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .container {
            display:flex;
            justify-content: center;
        }

        .form-member {
            border : 1px solid blue;
            width: 300px;
            padding:20px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-radius: 10px;
            margin-bottom:10px;
        }
        

        .card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            width: 20%;
            display: flex;
        }

        .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        .container {
        padding: 2px 16px;
        }
    </style>
</head>
<body>
    <div style="height: 50px; background: #bdd2b6;">
        <h1 style="text-align: center; padding-top:5px;">
            Tugas-12-Ajax-Axios
        </h1>
    </div>
    <div id="app">
        <div class="form-member" style="margin-top:10px;">
            <form v-on:submit.prevent="submitForm()" >
                <p v-if="errors.length">
                    <b>Please Correct the following Errors</b>
                    <ul>
                        <li v-for="error in errors">{{ error }}</li>
                    </ul>
                </p>
                <p>
                    <label>Name</label><br>         
                    <input type="text" name="name" v-model="name" ref="name" :disabled=" buttonStatus == 'upload' "> 
                </p>
                <p style="margin-top:20px;">
                    <label>Address</label>
                    <br>
                    <textarea name="address" v-model="address" ref="address" 
                               cols="40" rows="3" :disabled=" buttonStatus == 'upload' ">
                    </textarea>
                </p>
                <p style="margin-top:20px;">
                    <label >No.HP</label><br>         
                    <input type="text" name="no_hp" v-model="no_hp" ref="no_hp" :disabled=" buttonStatus == 'upload' "> 
                </p>
                <div v-if="buttonStatus == 'submit' " style="margin-top:20px;">
                    <p>
                        <input type="submit" value="SUBMIT" style="background: #7eca9c; padding:5px;">
                    </p>
                </div>  
                <div v-else-if="buttonStatus == 'update' " style="margin-top:20px;">
                    <p>
                        <input type="button" value="UPDATE" @click="updateMember(idEditMember)" 
                               style="background: #7eca9c; padding:5px; margin-right: 30px;">                 
                        <input type="button" value="CANCEL" @click="clearForm()" style="background: #eac8af; padding:5px;">
                    </p>
                </div>    
                <div v-else-if="buttonStatus == 'upload' ">
                    <p style="margin-top: 20px;">
                        <input type="file" name="photo_profile" ref="photo_profile" id="img">
                    </p>
                    <p style="margin-top: 15px;">
                        <input type="button" value="UPLOAD" @click="submitPhoto(idUploadMember)" style="background: #7eca9c; padding:5px;">
                    </p>
                    <p style="margin-top: 15px;">
                        <input type="button" value="CANCEL" @click="clearForm()" style="background: #eac8af; padding:5px;">
                    </p>
                </div>         
            </form>    
        </div>
     
        <div>
            <h3 style="text-align: center;">{{ getAllMemberMessage }}</h3>
        </div>
        <div class="container">
            <card-component 
                v-for="member in members" 
                :key="member.name" 
                :member="member"
                @editmember="editMember(member)"
                @removemember="removeMember(member.id)"
                @uploadphoto="uploadPhoto(member)">
            </card-component>
        </div>
      </div>

    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  
    <script>
        var CardComponent = {
            template: `
                <div style="width:20%;">
                    <img :src="member.photo_profile ? photoDomain + member.photo_profile : 'profile.png' " 
                        alt="Avatar" style="height: 100px; width: 100px;">
                    <div>
                        <h4><b>{{member.name}}</b></h4> 
                        <br>
                        <label for="">Alamat:</label>
                        <p>{{member.address}}</p> 
                        <br>
                        <label for="">No.HP:</label>
                        <p>{{member.no_hp}}</p> 
                    </div>
                    <div style="margin-top:20px;">
                        <button @click="$emit('editmember', member)" style="background: #98ddca; padding:5px;">EDIT</button>
                        <button @click="$emit('removemember', member.id)" style="background: #a2b29f; padding:5px;">DELETE</button>
                        <button @click="$emit('uploadphoto', member)" style="background: #f7f3e9; padding:5px;">UPLOAD PHOTO</button>
                    </div>
                </div>      
                `,
            data () {
                return {
                    photoDomain: 'http://demo-api-vue.sanbercloud.com',
                }
            },
            props: ['member']
        }
        var app = new Vue({
            el: '#app',
            components : {
                'card-component' : CardComponent
            },
            data: {
                name: '',
                address: '',
                no_hp: '',
                errors: [],
                members:[],
                // photoDomain: 'http://demo-api-vue.sanbercloud.com',
                buttonStatus: 'submit',
                idEditMember : null,
                idUploadMember : null,
                getAllMemberMessage:''
            },
            methods: {
                validationForm: function() {
                    this.errors=[];
                    const number=/^[0-9]+$/;

                    if (this.name.length < 5) {
                        this.errors.push('nama minimal 5 karakter');
                        this.$ref.name.focus();
                    }

                    if (this.address == null) {
                        this.errors.push('Alamat tidak boleh Kosong');
                        this.$ref.address.focus();
                    }

                    if (this.address =="") {
                        this.errors.push('Alamat tidak boleh Kosong');
                        this.$ref.address.focus();
                    }

                    if (this.address.length > 30) {
                        this.errors.push('Alamat tidak boleh lebih dari 30 karakter');
                        this.$ref.address.focus();
                    }
                   
                    if (this.no_hp==null || this.no_hp==""){
                        this.errors.push("Nomor Handphone tidak boleh kosong !");
                        this.$ref.no_hp.focus();
                    };
                    
                    if (!this.no_hp.match(number)){
                        this.errors.push("Nomor Handphone harus angka !");
                        this.$ref.no_hp.focus();
                    };
                },

                clearForm: function() {
                    this.name='',
                    this.address='',
                    this.no_hp=''
                },

                submitForm: function(){                    
                    this.validationForm()
                    if (this.errors.length === 0) {                        
                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)
                        
                        const config = {
                            method: 'post',
                            url: 'http://demo-api-vue.sanbercloud.com/api/member',
                            data: formData,
                        }

                        axios(config)
                            .then((response) => {
                                    this.clearForm()
                                    this.getMembers()
                                    alert (response.data.message);
                                })
                            .catch((error) => {
                                    console.log(error);
                            });
                    }
                },

                getMembers: function() {
                    const config = {
                        method: 'get',
                        url: 'http://demo-api-vue.sanbercloud.com/api/member',
                    }

                    axios(config)
                        .then((response) => {
                                // alert (response.data.message);
                                this.getAllMemberMessage = response.data.message;
                                // console.log( this.pesan)
                                this.members = response.data.members
                                console.log(response.data.members)
                            })
                        .catch((error) => {
                                console.log(error);
                            });
                },

                removeMember: function(id) {
                    // console.log(id)
                    const config = {
                        method: 'post',
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params: { _method: "DELETE"}
                    }

                    axios(config)
                        .then((response) => {
                                this.getMembers()
                                alert (response.data.message);
                                // console.log(response.data.message)
                            })
                        .catch((error) => {
                                console.log(error);
                            });
                },

                editMember: function(member) {
                    console.log(member)
                    this.name= member.name
                    this.address= member.address
                    this.no_hp= member.no_hp
                    this.buttonStatus = 'update'
                    this.idEditMember = member.id
                },

                clearForm: function() {
                    this.name= ''
                    this.address= ''
                    this.no_hp= ''
                    this.buttonStatus = 'submit'
                    this.idEditMember = null
                },

                updateMember: function(id) {
                    this.validationForm()
                    if (this.errors.length === 0) {
                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)

                        let config = {
                            method: 'post',
                            url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                            params: { _method: "PUT"},
                            data: formData
                        }

                        axios(config)
                            .then((response) => {
                                    this.clearForm()
                                    this.getMembers()
                                    alert (response.data.message);
                                    // console.log(response.data.message)
                                })
                            .catch((error) => {
                                    console.log(error);
                                });
                    }
                },

                uploadPhoto: function(member) {
                    // console.log(member)
                    this.name= member.name
                    this.address= member.address
                    this.no_hp= member.no_hp
                    this.buttonStatus = 'upload'
                    this.idUploadMember = member.id

                    console.log(this.idUploadMember)
                },
                
                submitPhoto: function(id){
                    // console.log(id);
                    if(document.getElementById("img").files.length == 0 ){
                        alert('Please Upload Photo');;
                    } else {                                  
                        let file = this.$refs.photo_profile.files[0]
                        
                        let formData = new FormData()
                            formData.append('photo_profile', file)

                            let config = {
                                method: 'post',
                                url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                                data: formData
                            }

                            axios(config)
                                .then((response) => {
                                        this.clearForm()
                                        this.idUploadMember = null
                                        this.getMembers()
                                        alert (response.data.message);
                                        // console.log(response.data.message)
                                    })
                                .catch((error) => {
                                        console.log(error);
                                    });
                        } 
                },   
            },
            created() {
                this.getMembers()
            }
        })
    </script>
</body>
</html>